
@font-face {
  font-family: 'Pacifico';
  src: url('pacifico.eot'); /* IE9 Compat Modes */
  src: url('pacifico.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('pacifico.ttf')  format('truetype');
}

@font-face {
  font-family: 'Slim';
  src: url('wf_segoe-ui_light.eot'); /* IE9 Compat Modes */
  src: url('wf_segoe-ui_light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('wf_segoe-ui_light.ttf')  format('truetype');
}

body {
	font-family: 'Slim';
	font-weight: 300;
	line-height: 1.4;
	font-size: 1.7vw;
}

span#logo1, span#logo2 {
	font-size: 6vw;
    font-family: 'Pacifico';
}

span#logo1 {
	color: #e3e3e3;
    font-weight: 400;
}

span#logo2 {
    font-weight: 500;
    color: #279e49;
}

div#topview {
	font-weight: 100;
	width: 100%;
	height: 58.98vw;
	background-repeat: no-repeat;
	background-image: url(img/vegetable-garden.jpg);
	background-size: 100%;
	background-position: bottom;
	color: white;
	text-shadow: 1px 0 0 #111, -1px 0 0 #111, 0 1px 0 #111, 0 -1px 0 #111, 1px 1px #111, -1px -1px 0 #111, 1px -1px 0 #111, -1px 1px 0 #111;
}

div#menu {
	width: 100%;
	height: 10%;
	text-align: right;
	padding: 1.5%;
	font-size: 1.6vw;
}

a, a:hover, a:visited {
    text-decoration: none;
	color: black;
}

a.ref {
	font-size: 1.2vw;
}

a.link, a.link:hover, a.link:visited {
	text-decoration: underline;
	color: #178e39;
	font-weight: bold;
}

div#topview a, div#topview a:hover, div#topview a:visited {
	color: white;
}

div#micons {
	font-size: 1.4vw;
}

.left-pad {
	padding-left: 1.1vw;
}

div#left-container {
	width: 50%;
	float: left;
	height: 80%;
	text-align: center;
}

div#slogan {
	font-size: 2.5vw;
}

h1 {
	font-size: 4.5vw;
}

h2 {
	font-weight: 800;
}

p {
	text-align: justify;
}

div.wide-entry {
	text-align: center;
	padding: 4vw 12vw;
}

div#slogan > div {
	padding: 2vw 0 3vw 0;
}

div#footer {
	width: 100%;
	text-align: center;
	font-weight: medium;
	font-size: 1vw;
	font-family: Verdana;
}

div#footer span, div#footer a {
	padding: 0 3.3vw;
	color: #777;
}

div#footer a:visited, div#footer a:hover {
	color: #777;
}

.vcenter {
    display:table;
}

.vcenter > div {
	display:table-cell;
	vertical-align:middle;
}

div.columns {
	display: table;
	width: 100%;
	height: 35vw;
}

div.columns > div {
	display: table-cell;
	vertical-align: middle;
	width: 50%;
	height: 50%;
	padding: 4vw;
}	

p#licons {
	text-align: center;
}

p#licons a {
	padding: 5vw;
}

.pinterest-red {
	color: red;
}

.fb-blue {
	color: blue;
}

.twitter-blue {
	color: lightblue;
}